/* Reset default margin and padding, set background image */
body {
  margin: 0;
  padding: 0;
/* Set the background image URL */
  background-image: url('/src/background.jpg'); 
  /* Adjust the background image size */
  background-size: auto; 
  /* Prevent background image repetition */
  background-repeat: no-repeat; 
  /* Arrange children in a column */
  background-position: center center;  
  display: flex;
  /* Arrange children in a column */
  flex-direction: column; 
  /* Align children at the start of the main axis */
  justify-content: flex-start; 
  /* Center children along the cross axis */
  align-items: center; 
  /* Ensure a minimum height of 90% of the viewport height */
  min-height: 90vh; 
  /* Background color in case the image is unavailable */
  background-color: skyblue; 
}

/* Styling for the main app container */
.App {
  /* Center-align text within the container */
  text-align: center; 
  /* Add space on top of the container */
  margin-top: 20px; 
}
